# Options applied to all Bazel invocations in the workspace.
# Enforces UTF-8 encoding in bazel tests.
test --test_env='LC_ALL=en_US.UTF-8'
test --test_env='LANG=en_US.UTF-8'
test --jvmopt='-Dsun.jnu.encoding=UTF-8'
test --jvmopt='-Dfile.encoding=UTF-8'
build --test_env='LC_ALL=en_US.UTF-8'
build --jvmopt='-Dsun.jnu.encoding=UTF-8'
build --jvmopt='-Dfile.encoding=UTF-8'
build --test_env='LANG=en_US.UTF-8'
test --test_env=PATH

build --java_language_version=11
test --java_language_version=11
build --tool_java_language_version=11
test --tool_java_language_version=11


################################################################################
# User bazel configuration
################################################################################

# Load from the local configuration file, if it exists. This needs to be the
# *last* statement in the root configuration file, as the local configuration
# file should be able to overwrite flags from the root configuration.
try-import %workspace%/.bazelrc.user
